.social-links .footer-link {
  @include typedisplay(inline-flex);
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
    background-color: $accent-color;
  }
}

.icon-links-footer {
  width: 20px;
  height: 20px;
  fill: $primary-text-color;
}
