/*site navigation*/
.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  @include typedisplay($display);
  align-items: center;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.menu-button {
  @include typedisplay(inline-flex);
  margin: 0;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    @include typedisplay(none);
  }
  & .icon-crose {
    @include typedisplay(none);
  }
  &.is-open .icon-crose {
    @include typedisplay(block);
  }
  &.is-open .icon-menu {
    @include typedisplay(none);
  }
}

.menu-button:hover .icon-crose,
.menu-button:focus .icon-crose {
  fill: $accent-color;
}
.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: $accent-color;
}

.menu-container {
  &.is-open {
    @include typedisplay(block);
  }

  @media screen and (max-width: 767px) {
    @include typedisplay(none);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $primary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  @media screen and (min-width: 768px) {
    @include typedisplay($display);
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    text-align: center;
    margin-bottom: 60px;
  }
  .item-nav:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    @include typedisplay($display);
    margin-left: 81px;
    & .item-nav:not(:last-child) {
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 85px;
  }
}
/*
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
*/

.site-nav .link {
  position: relative;
  color: $title-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms $animation-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    @include typedisplay($display);
    font-size: 14px;
    line-height: 1.14;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link.current {
  color: $accent-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    @include typedisplay(block);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    transition: background-color 250ms $animation-timing-function;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
  }
}
