/*banner*/
.banner {
  text-align: center;
  & .overlay {
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 60px;
    background-image: linear-gradient(
        to right,
        $opacity-background-color,
        $opacity-background-color
      ),
      url(../images/Header-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $opacity-background-color,
          $opacity-background-color
        ),
        url(../images/Header-img-mobile@2x.jpg);
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primary-text-color;
  }
}

@media screen and (min-width: 481px) {
  .banner {
    & .overlay {
      max-width: 768px;
      background-image: linear-gradient(
          to right,
          $opacity-background-color,
          $opacity-background-color
        ),
        url(../images/Header-img-tablet.jpg);
      @media screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $opacity-background-color,
            $opacity-background-color
          ),
          url(../images/Header-img-tablet@2x.jpg);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    & .overlay {
      padding: 118px 204px;
    }
  }
}

@media screen and (min-width: 769px) {
  .banner {
    & .overlay {
      max-width: 1600px;
      background-image: linear-gradient(
          to right,
          $opacity-background-color,
          $opacity-background-color
        ),
        url(../images/Header-img-desktop.jpg);
      @media screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            $opacity-background-color,
            $opacity-background-color
          ),
          url(../images/Header-img-desktop@2x.jpg);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    & .overlay {
      height: 600px;
      padding: 200px 452px;
    }

    &-title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
