/*banner*/
.banner {
  text-align: center;
  & .overlay {
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 60px;
    background-image: linear-gradient(
        to right,
        $opacity-background-color,
        $opacity-background-color
      ),
      url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primary-text-color;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    & .overlay {
      max-width: 768px;
      padding: 118px 204px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    & .overlay {
      height: 600px;
      max-width: 1600px;
      padding: 200px 452px;
    }

    &-title {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
