/*Utilities*/

body {
  margin: 0;
  background-color: $primary-text-color;
  color: $main-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  text-decoration: none;
}
